:root {
  --white-color: #fff;
  --light-color: #f0edee;
  --dark-color: #0a090c;
  --green-color: #548c2f;
  --green-color-transparent: #548c2f4b;
  --font-family: "Nunito";
}

* {
  font-family: var(--font-family);
  box-sizing: border-box;    
  color: var(--dark-color);
}

/* ------ GENERAL CLASSES ------ */

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* buttons */

.button-icon {
  position: absolute;
  font-size: 1.2rem;
  top: 50%;
  transform: translateY(-50%);
  left: -0.8rem;
}
.button {
  text-wrap: nowrap;
  position: relative;
  font-size: clamp(.8rem, 1.5vw, 1.2rem);
  font-weight: 400;
  padding: 0.5rem;
  margin-left: 2rem;
  line-height: 2.5rem;
  border: none;
  border-radius: 10px;
  background-color: var(--white-color);
}
.button:hover {
  cursor: pointer;
}

.centered-message {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
}

#create-frame-button {
  font-style: italic;
  padding-left: 1.4rem;
  transition: 200ms;
}
#create-frame-button .button-icon {
  left: 0.2rem;
}

#create-group-button {
  background-color: var(--green-color);
  color: var(--white-color);
  font-weight: 500;
  padding-left: 1.4rem;
  transition: 200ms;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
#create-group-button:hover {
  background-color: var(--green-color-transparent);
}
#create-group-button .button-icon {
  left: 0.2rem;
  color: var(--white-color);
  font-weight: 500;
}

/* modals */

.app-modal::backdrop {
  background-color: rgba(0 0 0 / 0.5);
}
.app-modal {
  border: none;
  border-radius: 15px;
}
.modal-title {
  font-size: 1rem;
  font-weight: 600;
  margin: 0.5rem 0;
}
.modal-input {
  background: var(--light-color);
  margin: 0.5rem 0;
  padding: 0.5rem 0.8rem;
  border: none;
  background-color: var(--green-color);
  color: var(--white-color);
  border-radius: 5px;
}
.modal-input:focus {
  outline: none;
}
.modal-input::placeholder {
  opacity: .5;
  color: var(--white-color);
}

.modal-buttons {
  display: flex;
  justify-content: end;
  margin: 0.5rem 0;
}
.modal-buttons button {
  border: none;
  background: var(--white-color);
  margin-left: 1rem;
}
.modal-buttons button:hover {
  cursor: pointer;
}

.modal-input-list {
  border-top: 1px solid var(--light-color);
  margin-top: 0.5rem;
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
  max-height: 50vh;
  overflow: scroll;
}
.modal-input-wrapper {
  position: relative;
}
.modal-input-wrapper--done input {
  background-color: var(--green-color-transparent);
  text-decoration: line-through;
}
.modal-input--task {
  border-radius: 10px;
  background-color: var(--light-color);
  line-height: 1rem;
  color: var(--dark-color);
}
.modal-input--task:focus {
  border-bottom: none;
}
.modal-input--task::placeholder {
  opacity: .5;
  color: var(--dark-color);
}

.drag-task-icon {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: .5rem;
  opacity: .8;
}
.drag-task-icon:hover {
  cursor: grab;
}
.modal-group-buttons span {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  font-size: 1.2rem;
  opacity: .8;
  background-color: var(--green-color);
  color: var(--white-color);
  border-radius: 50%;
}
.modal-group-buttons span:hover {
  cursor: pointer;
}

.modal-submit {
  color: var(--green-color);
}

#edit-frame-modal .modal-cancel,
#edit-group-modal .modal-cancel {
  color: red;
}

/* scrollbar */

::-webkit-scrollbar {
  width: 7.5px;
}

::-webkit-scrollbar-thumb {
  background: var(--light-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d8d6d6;
}

/* ------ ICONS ------ */

.header__menu-icon {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 24;
  margin: 1rem;
  color: var(--dark-color);
}

.header__user-icon {
  font-variation-settings: "FILL" 0, "wght" 200, "GRAD" -25, "opsz" 24;
  font-size: 3rem;
}

.header__menu-icon:hover,
.header__user-icon:hover {
  cursor: pointer;
}

/* ------ HEADER ------ */

.header {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
  height: 10vh;
  border-bottom: 1px solid var(--light-color);
}

.header__logo {
  font-size: 1.4rem;
  font-weight: 400;  
}

.header__experience-bar {
  margin-left: auto;
  padding: 0 1rem;
  font-weight: 500;
}
.header__bar {
  width: 100px;
  height: 2px;
  background-color: var(--light-color);
  border-radius: 10px;
}
.header__fill-bar {
  width: 25%;
  height: 100%;
  background-color: var(--green-color);
  border-radius: 10px;
}

/* modal buttons */

#create-frame-submit,
#edit-frame-submit {
  color: var(--green-color);
}

#edit-frame-delete {
  color: var(--red-color);
}

/* ------ MAIN-CONTAINER ------ */

.app-panel {
  display: flex;
}

/* ------ ASIDE ------ */

.sidebar {
  position: sticky;
  height: 90vh;
  width: 20vw;
  margin: 0;
  padding: 0;
  transition: 350ms;
  display: flex;
  flex-direction: column;
  align-items: start;
  overflow-y: scroll;
}

.sidebar--hidden {
  width: 0;
  overflow: hidden;
}

.sidebar__frame-list {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}
.sidebar__frame-list-item {
  width: fit-content;
}
.sidebar__frame-list-item:hover {
  cursor: pointer;
  background-color: var(--white-color);
}

.sidebar__frame-list-item--selected {
  text-decoration: underline;
  text-decoration-thickness: 2px;
};

.sidebar__frame-list-item span {
  display: none;
}

/* ------ MAIN ------ */

.main {
  height: 90vh;
  width: 100%;
  display: flex;
}

.main__column {
  height: 90vh;
  width: 100%;
  overflow: scroll;
}

.main__task-wrapper {
  border: 1px solid var(--light-color);
  border-radius: 20px;
  width: 90%;
  margin: 1rem auto;
}

.task-wrapper__progress-bar {
  position: relative;
  height: 3rem;
  border-radius: 18px 18px 0 0;
  background-color: var(--green-color-transparent);
}
.task-wrapper__progress-bar-fill {
  display: relative;
  height: 100%;
  width: 30%;
  border-radius: 18px 10px 10px 0;
  background-color: var(--green-color);
}
.task-wrapper__progress-bar-percentage {
  color: var(--light-color);
  font-size: 0.75rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1rem;
}

.task-wrapper__progress-bar:hover {
  cursor: grab;
}

.task-wrapper__title {
  margin: 1rem 0 1rem 1rem;
  font-weight: 400;
  font-size: 1.2rem;
  position: relative;
}
.edit-group-icon {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" -25, "opsz" 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
}
.edit-group-icon:hover {
  cursor: pointer;
}

.task-wrapper__list {
  list-style: none;
}

.task-wrapper__task {
  padding: 0.75rem 0;
  position: relative;
}
.task-wrapper__task span {
  font-variation-settings: "FILL" 0, "wght" 200, "GRAD" -25, "opsz" 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -1.75rem;
}
.task-wrapper__task span:hover {
  cursor: pointer;
}

.task-wrapper__task--done {
  text-decoration: line-through;
}

@media screen and (max-width: 1024px) {
  .main {
    flex-direction: column;
    overflow: scroll;
  }
  .main__column {
    height: fit-content;
    overflow: visible;
  }
  .sidebar {
    width: 200px;
  }
  .sidebar--hidden {
    width: 0px;
    overflow: hidden;
  }
}

@media screen and (max-width: 481px) {
  .header {
    position: fi;
  }
  
  .app-panel {
    flex-direction: column;
    width: 100vw;
  }

  .main,
  .main__column {
    width: 100%;
  }

  .sidebar {
    width: 100%;
    position: fixed;
    background-color: var(--white-color);
    height: fit-content;
    border-bottom: 1px solid var(--light-color);
    transition: 500ms;
    z-index: 1;
  }
  .sidebar--hidden {
    height: 0px;
    overflow: hidden;
  }
  .header__user-icon {
    font-size: 10vw;
  }
  .button {
    width: 30%;
  }
}

@media screen and (max-width: 320px) {
  .header {
    flex-direction: row;
    position: sticky;
  }
  .header__experience-bar,
  .header__user-icon {
    display: none;
  }
  .sidebar {
    position: relative;
    z-index: 0;
  }
  .button {
    width: 60%;
    text-align: center;
  }
}
